*{
    margin: 0;
}

body{
    /* background-image:url("bg.png"); */
    width: 1024px;
    height: 980px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg{
    /* width: 1400px; */
    width: 430px;
}

.q5{
    /* width: 910px; */
    width: 280px;
    position: absolute;
    top: 38px;
    left: 15px;
    /* border: 1px solid red;
    opacity: 50%; */
}
.q5:hover{
    opacity: 0;
    transition: all 0.4s ease-out;
}

.q4{
    /* width: 730px; */
    width: 222px;
    position: absolute;
    /* border: 1px solid red;
    opacity: 50%; */
}
.q4:hover{
    opacity: 0;
    transition: all 0.4s ease-out;
}


.q8{
    /* width: 730px; */
    width: 220px;
    position: absolute;
    top: 400px;
    left: 123px;
    /* border: 1px solid red;
    opacity: 50%; */
}
.q8:hover{
    opacity: 0;
    transition: all 0.4s ease-out;
}

.basket{
    top: 304px;
    left: 175px;
}

.balloon{
    top:  573px;
    left: 0px;
}

.flight{
    top: 748px;
    left: 38px;
}
